html,
body {
  margin: 0;
  padding: 0
}

a {
  text-decoration: none;
  color: #000
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  margin: 0
}

.khaiwal-container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}

.btn-green {
  background-image: linear-gradient(#E7F70E, #62FD33)
}

.kahiwal-blinking {
  padding: 20px;
  color: #fff;
  text-align: center
}

.khaiwal-blinking a {
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  background-color: #372e3c;
  padding: 8px 13px;
  border-radius: 5px;
  border: 2px solid #fff;
  box-shadow: 3px 3px 1.5px #616062;
  text-decoration: none
}

.khaiwal-blinking a {
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  background-color: #372e3c;
  padding: 8px 13px;
  border-radius: 5px;
  border: 2px solid #fff;
  box-shadow: 3px 3px 1.5px #616062;
  text-decoration: none
}

.khaiwal-blinking a:hover {
  color: #ff0
}

.blink {
  animation: blink 2s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite
}

@keyframes blink {
  to {
    visibility: hidden
  }
}

@-webkit-keyframes blink {
  to {
    visibility: hidden
  }
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.telegram-logo {
  text-align: left
}

.telegram-logo a {
  display: flex
}

.telegram-logo img {
  position: fixed;
  bottom: 70px;
  margin-left: 5px
}

.gr-top-nav {
  display: flex;
  background-color: #000;
  padding: 1px;
  justify-content: space-evenly;
  align-items: center
}

.gr-top-nav a {
  border-radius: 10px;
  background-color: #25579d;
  color: #fff;
  display: flex;
  justify-content: center;
  border: 4px solid #000;
  padding: 2px 15px;
  text-decoration: none;
  transition: color .2s
}

.gr-top-nav a:hover {
  color: #fff
}

.gr-top-nav a p {
  margin: 0
}

.gr-logo {
  border: 4px dotted #00f;
  display: flex;
  justify-content: center;
  background-color: #000;
  padding-bottom: 5px;
  padding-left: 15px;
  margin-bottom: 2px
}

.gr-marquee {
  border: 1px solid #ff0;
  background-color: #a80000;
  padding: 3px;
  color: #fff
}

.gr-marquee h1 {
  font-size: 16px
}

.gr-third {
  background-color: #000;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 2px
}

.gr-three {
  border: 3px solid #000;
  background: #fff;
  border-radius: 10px;
  margin: 5px 0;
  padding: 3px
}

.gr-three p {
  display: flex;
  justify-content: center;
  line-height: .3
}

.gr-three .one {
  color: #b30a0a;
  font-size: 20px
}

.gr-three .two {
  color: #00f;
  line-height: 1.5;
  font-size: 12px
}

.gr-three .three {
  color: red;
  font-size: 20px
}

.gr-three a:hover {
  text-decoration: none
}

.gr-three .four strong {
  color: #000;
  font-size: 20px
}

.gr-whatsapp {
  margin-bottom: -20px;
  display: flex;
  justify-content: center
}

.gr-three .gr-whatsapp .one {
  border: 1px outset #000;
  background-color: #00f;
  padding: 10px;
  color: #fff;
  margin-right: 20px
}

.gr-three .gr-whatsapp .two {
  border: 2px outset #777;
  background-color: green;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  padding: 10px;
  line-height: .3
}

.gr-fourth {
  line-height: .3;
  background: #006156;
  border-radius: 10px;
  margin: 2px;
  padding: 5px
}

.gr-fourth p {
  display: flex;
  justify-content: center;
  color: #fff;
  font-weight: 450
}

.gr-fourth .one a {
  font-size: 20px;
  color: red
}

.gr-fourth .one a:hover {
  text-decoration: none
}

.gr-fourth .two {
  color: #fff;
  font-size: 20px
}

.gr-fourth .three a {
  color: #fff;
  font-size: 20px;
  font-weight: 500
}

.gr-fourth .three a:hover {
  color: red;
  font-size: 20px;
  text-decoration: none
}

.gr-fourth .fourth a {
  color: #fff;
  background-color: #00f;
  border: 2px outset #777;
  padding: 2px 6px
}

.gr-fourth .fourth a:hover {
  text-decoration: none
}

.gr-fourth .fifth a {
  border: 3px solid #18a707;
  background-color: #ff0;
  border-radius: 20px;
  color: #000
}

.gr-fourth .fifth a:hover {
  text-decoration: none;
  color: #000
}

.gr-fourth-whatsapp {
  display: flex;
  justify-content: center;
  margin-bottom: -20px
}

.gr-fourth .gr-fourth-whatsapp .one {
  border: 1px outset #000;
  background-color: #00f;
  padding: 10px;
  margin-right: 20px;
  color: #fff
}

.gr-fourth .gr-fourth-whatsapp .two {
  border: 2px outset #777;
  background-color: green;
  font-size: 15px;
  color: #fff;
  font-weight: 700;
  padding: 10px
}

.gr-fifth {
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  border-radius: 10px;
  margin: 5px 0;
  padding: 5px
}

.gr-fifth p {
  display: flex;
  justify-content: center;
  line-height: .3
}

.gr-fifth .one a {
  font-size: 20px;
  color: red
}

.gr-fifth .one a:hover {
  text-decoration: none
}

.gr-fifth .two {
  color: #fff;
  font-size: 20px
}

.gr-fifth .three a {
  color: #00f;
  font-size: 20px
}

.gr-fifth .three a:hover {
  color: #00f;
  font-size: 20px;
  text-decoration: none
}

.gr-fifth .fourth a {
  color: #fff;
  background-color: #00f;
  border: 2px outset #777;
  padding: 10px 5px
}

.gr-fifth .fourth a:hover {
  text-decoration: none
}

.gr-fifth .fifth a {
  border: 2px solid #18a707;
  background-color: #18a707;
  border-radius: 7px;
  color: #fff;
  padding: 7px;
  margin-top: -5px
}

.gr-fifth .fifth a:hover {
  text-decoration: none;
  color: #fff
}

.gr-sixth {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center
}

.gr-sixth a,
p {
  text-align: center
}

.gr-sixth a p strong {
  color: #fff;
  border: 2px outset #000;
  background-color: red;
  padding: 10px
}

.gr-sixth a:hover {
  text-decoration: none
}

.gr-seventh {
  background-color: #1d9d82;
  margin-bottom: 10px
}

.gr-seventh h1 {
  color: #fff;
  padding: 10px
}

.gr-eight {
  border: 4px solid #f5ecce;
  background: #093028;
  background: linear-gradient(to right, #237A57, #093028);
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 2px
}

.gr-eight div .one {
  font-size: 30px;
  -webkit-text-stroke: 1px #fff;
  text-shadow: 6px 4px 4px #000;
  color: red
}

.gr-eight div .two {
  color: #fff
}

.gr-eight div .three {
  color: #00b8ff;
  font-size: 30px
}

.gr-nine {
  border: 3px solid #000;
  background: #fff;
  border-radius: 10px;
  padding: 2px
}

.gr-nine p {
  display: flex;
  justify-content: center;
  line-height: .2
}

.gr-nine .one {
  color: #000;
  font-size: 20px
}

.gr-nine .two {
  color: #00f;
  line-height: 1;
  font-size: 16px
}

.gr-nine .three {
  color: red;
  font-size: 18px
}

.gr-nine a:hover {
  text-decoration: none
}

.gr-nine .four strong {
  background-color: #08c;
  color: #fff;
  font-size: 20px;
  border: double 3px #fff;
  border-radius: 12px;
  padding: 8px
}

.gr-whatsapp {
  display: flex;
  justify-content: center
}

.gr-nine .gr-whatsapp .one {
  border: 1px outset #000;
  background-color: #00f;
  padding: 10px;
  color: #fff;
  margin-right: 20px
}

.gr-nine .gr-whatsapp .two {
  border: 1px outset #777;
  background-color: green;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  padding: 10px;
  line-height: .3
}

.satta-king-box {
  border: 3px solid #000;
  background: #fff;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  margin-bottom: 5px
}

.satta-king-box-khaiwal {
  border: 3px solid #000;
  background: #168aad;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  margin-bottom: 5px
}

.satta-king-box-5a {
  border: 3px solid #000;
  background-image: linear-gradient(#ffebcd 55%, #cef6f5);
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  margin-bottom: 5px
}

.satta-king-box-5b {
  border: 3px solid #000;
  background-image: linear-gradient(#ffebcd 55%, #cef6f5);
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  margin-bottom: 5px
}

.satta-king-box-title {
  color: #000;
  font-weight: 700;
  font-size: 20px;
  margin: 0
}

.satta-king-box-khaiwal-title {
  color: #f1ff2e;
  font-weight: 700;
  font-size: 20px;
  margin: 0
}

.satta-king-box-subtitle {
  color: #b30a0a;
  font-size: 16px;
  margin: 0 0 8px
}

.satta-king-box-description {
  color: #00f;
  font-size: 16px;
  margin: 0;
  line-height: 1
}

.satta-king-khaiwal-box-description {
  color: #fff;
  font-size: 16px;
  margin: 0;
  line-height: 1
}

.satta-king-box-contact {
  font-weight: 700;
  color: green;
  font-size: 18px;
  margin: 4px 0
}

.satta-king-box-buttons {
  display: flex;
  justify-content: center
}

.satta-king-box-button {
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  margin: 0 5px;
  border: 1px solid #00f
}

.satta-king-khaiwal-whatsapp {
  margin: 15px
}

.satta-king-khaiwal-box-button {
  color: #fff;
  border-radius: 20px;
  font-weight: 700;
  font-size: 18px;
  background-color: red;
  border: 2px solid red;
  padding: 5px 10px
}

.satta-king-khaiwal-box-contact {
  font-weight: 700;
  color: #f1ff2e;
  font-size: 18px;
  margin: 4px 0
}

.satta-king-box-button.whatsapp {
  background-color: green
}

.satta-king-box-button.call {
  background-color: #00f
}